<h2>Available drones</h2>
<hr>

<div class="drone-list">
{{#each drones}}
    
    <div class="drone-box">
        <h3>{{name}}</h3>
        <p>Number of propellers: {{propellers}}</p>
        <p>Max Speed: {{maxSpeed}}</p>
        <a href="/drones/{{_id}}/edit">Modify</a>
        <hr>
        <form action="/drones/{{_id}}/delete" method="POST">
            <button>Destroy this drone</button>
        </form>
    </div>
    
{{/each}}

</div>

<div class="add-drone">
    <a href="/drones/create">Wanna add a new drone?</a>
</div>